.root {
    -fx-padding: 10px;
}

#title {
    -fx-text-alignment: center;
    -fx-font-size: 30px;
}

.label,
.text-field {
    -fx-padding: 10px;
}

#submit {
    -fx-padding: 10px;
    -fx-font-size: 30px;
}

#bottom {
    -fx-padding: 30px;
}